<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>












<!--
  <h1>Movies App!!</h1>
  <app-header [name]="headerName"></app-header>

<app-vote-taker-component>
  
</app-vote-taker-component>

<h1>Login here</h1>
<app-login></app-login>


<h2>Welcome to my page</h2>

<h1>I'm {{name}}</h1>

<ul>
  <li *ngFor = "let message of messages">
    {{message}}
  </li>
</ul>


<div class="grid">
  <div class="col-5">5</div>
  <div class="col-5">5</div>
  <div class="col-5">5</div>
  <div class="col-5">5</div>
</div>
-->


